.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 100px auto;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 40px auto;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  color:#222222;
  text-transform: uppercase;
}

.title h2 {
  color: rgb(34, 34, 34);
  font-size: 24px;
  font-weight: 600;
}

.titleContainer p {
  color: rgb(135, 135, 135);
  font-family: "Libre Baskerville";
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
}

.line {
  width: 40px;
  height: 2px;
  background-color: black; /* Adjust color as needed */
}

.blogContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 20px;
}

.blogCard {
  max-height: 446px;
  width: 370px;
  background: #fff;
  text-align: left;
  position: relative;
  overflow: hidden;
}

.parentContainer {
  max-height: 277px;
  width: 370px;
  background: #fff;
  text-align: left;
  position: relative;
  overflow: hidden;
}

.imageContainer {
  max-height: 446px;
  width: 370px;
  overflow: hidden;
}

.imageContainer img {
  position: relative;
  height: 535px;
  width: 444px;
  object-fit: cover;
  transition: transform 1s ease;
  z-index: 1;
}

.parentContainer:hover .imageContainer img {
  transform: translateY(-30px);
}

.parentContainer {
  max-height: 277px;
  width: 370px;
  background: #fff;
  text-align: left;
  position: relative;
  overflow: hidden;
}

.imageContainer {
  max-height: 446px;
  width: 370px;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.imageContainer img {
  position: relative;
  height: 130%;
  width: 130%;
  object-fit: cover;
  transition: transform 1s ease;
  z-index: 1;
}

.parentContainer:hover .imageContainer img {
  transform: translateY(-30px);
}

.effectOverlay {
  position: absolute;
  height: 277px;
  width: 370px;
  z-index: 3;
  background-color: transparent;
}

.effectOverlay .borderLine {
  position: absolute;
  background: white;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out,
    height 0.3s ease-in-out;
}

.effectOverlay .top {
  top: 15px;
  left: 15px;
  width: 0;
  height: 1px;
  transform-origin: left;
}

.effectOverlay .right {
  bottom: 15px;
  right: 15px;
  width: 1px;
  height: 0;
  transform-origin: bottom;
}

.effectOverlay .bottom {
  bottom: 15px;
  right: 15px;
  width: 0;
  height: 1px;
  transform-origin: right;
}

.effectOverlay .left {
  top: 15px;
  left: 15px;
  width: 1px;
  height: 0;
  transform-origin: top;
}

.effectOverlay:hover .top {
  width: calc(100% - 30px);
}

.effectOverlay:hover .right {
  height: calc(100% - 30px);
}

.effectOverlay:hover .bottom {
  width: calc(100% - 30px);
}

.effectOverlay:hover .left {
  height: calc(100% - 30px);
}

.blogTitle {
  color: rgb(34, 34, 34);
  font-size: 16px;
  font-weight: 500;
  margin: 12px 0 5px;
  transition: color 0.3s ease-in-out;
}

.blogTitle:hover {
  color: rgb(86, 207, 225);
}

.blogMeta {
  font-size: 14px;
  font-weight: 400;
  color: rgb(135, 135, 135);
  margin-bottom: 8px;
}

.blogDescription {
  font-size: 14px;
  font-weight: 400;
  color: rgb(135, 135, 135);
  line-height: 1.6;
}
