.blogSection {
  text-align: center;
  padding: 50px 20px;
  background: #fff;
}

.blogHeading {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
  position: relative;
  display: inline-block;
}

.blogHeading::before,
.blogHeading::after {
  content: "";
  width: 50px;
  height: 2px;
  background: black;
  position: absolute;
  top: 50%;
}

.blogHeading::before {
  left: -60px;
}

.blogHeading::after {
  right: -60px;
}

.blogSubheading {
  font-size: 14px;
  font-style: italic;
  color: #666;
  margin-bottom: 30px;
}

.blogContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 20px;
}

.blogCard {
  max-height: 446px;
  width: 370px;
  background: #fff;
  text-align: left;
  position: relative;
  overflow: hidden;
}

.parentContainer {
  max-height: 446px;
  width: 370px;
  background: #fff;
  text-align: left;
  position: relative;
  overflow: hidden;
}

.imageContainer {
  position: relative;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  max-height: 278px;
  width: 370px;
  overflow: hidden;
}

.imageContainer img {
  width: 130%;
  height: 130%;
  object-fit: cover;
  transition: transform 1s ease;
  z-index: 1;
}

.blogCard:hover .imageContainer img {
  transform: translateY(-30px);
}

.effectOverlay {
  position: absolute;
  height: 278px;
  width: 370px;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
}

.effectOverlay .borderLine {
  position: absolute;
  background: white;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out,
    height 0.3s ease-in-out;
}

.effectOverlay .top {
  top: 15px;
  left: 15px;
  width: 0;
  height: 1px;
  transform-origin: left;
}

.effectOverlay .right {
  bottom: 15px;
  right: 15px;
  width: 1px;
  height: 0;
  transform-origin: bottom;
}

.effectOverlay .bottom {
  bottom: 15px;
  right: 15px;
  width: 0;
  height: 1px;
  transform-origin: right;
}

.effectOverlay .left {
  top: 15px;
  left: 15px;
  width: 1px;
  height: 0;
  transform-origin: top;
}

.blogCard:hover .top {
  width: calc(100% - 30px);
}

.blogCard:hover .right {
  height: calc(100% - 30px);
}

.blogCard:hover .bottom {
  width: calc(100% - 30px);
}

.blogCard:hover .left {
  height: calc(100% - 30px);
}

.blogTitle {
  font-size: 12px;
  font-weight: bold;
  margin: 12px 0 5px;
}

.blogMeta {
  font-size: 12px;
  color: #777;
  margin-bottom: 8px;
}

.blogDescription {
  font-size: 14px;
  color: #ccc;
  line-height: 1.6;
}