/* Section main content */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 100px auto;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 40px auto;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  color: #222222;
  text-transform: uppercase;
}

.line {
  width: 40px;
  height: 2px;
  background-color: black; /* Adjust color as needed */
}

.title h2 {
  color: rgb(34, 34, 34);
  font-size: 24px;
  font-weight: 600;
}

.titleContainer p {
  color: rgb(135, 135, 135);
  font-family: "Libre Baskerville";
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
}

/* Cards content */

.cardsContainer {
  margin-left: auto;
  margin-right: auto;
  max-width: 1160px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.imgCard {
  height: 420px;
  min-width: 250px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  margin: 10px;
}

.imageWrapper {
  position: relative;
  width: 270px;
  height: 345px;
  overflow: hidden;
}

.imageDefault,
.imageHover {
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
}

.imageDefault {
  position: absolute;
  z-index: 1;
  opacity: 1;
}

.imageHover {
  position: absolute;
  z-index: 2;
  opacity: 0;
}

.imageWrapper:hover .imageDefault {
  opacity: 0;
}

.imageWrapper:hover .imageHover {
  opacity: 1;
}

/* Glassmorphism Overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 6;
}

.overlayContent {
  z-index: 7;
}

.imageWrapper:hover .overlay {
  opacity: 1;
}

/* Top Left Buttons */
.topLeftButtons {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.icon {
  font-size: 20px;
}
.smallBtn {
  padding: 5px;
  border: none;
  background: transparent;
  color: aliceblue;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  opacity: 0;
  transform: translateX(-20px);
}

.imageWrapper:hover .btn1 {
  animation: slideInLeft 0.4s forwards 0.2s;
  border: none;
}

.btn1:hover,
.btn1:focus {
  background: transparent !important;
  border: none !important;
  outline: none !important;
}

.imageWrapper:hover .btn2 {
  animation: slideInLeft 0.4s forwards 0.4s;
}

.btn2:hover,
.btn2:focus {
  background: transparent !important;
  border: none !important;
  outline: none !important;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Center Buttons */
.centerButtons {
  top: 50%;
  margin: auto;
  flex-direction: column;
  transform: translateY(-20px);
  justify-content: center;
  z-index: 3;
  transition: 0.5s ease 0s;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  align-items: center;
}

.addToCartBtn {
  width: 340px;
  margin-top: 10px;
  padding: 10px 20px;
  background: #56cfe1;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.3s ease-in-out;
  animation: shake 5s infinite linear; /* Halved animation duration for double speed */
}

@keyframes shake {
  20%, 100% {
      transform: translateX(0);
  }
  2%, 6%, 10%, 14%, 18% {
      transform: translateX(-10px);
  }
  4%, 8%, 12%, 16% {
      transform: translateX(10px);
  }
}

.addToCartBtn:hover {
  background: #43bacc;
}


.buyNowBtn {
  width: 340px;
  margin-top: 15px;
  padding: 10px 20px;
  background: rgb(34, 34, 34);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.3s ease-in-out;
}


.buyNowBtn:hover {
  background: #43bacc;
}


/* Text container */
.textContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.cardTitle {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: rgb(34, 34, 34);
  text-align: left;
  margin: 0;
}

.cardPrice {
  box-sizing: border-box;
  display: block;
  height: 23px;
  width: 270px;
  font-family: Poppins;
  font-size: 14px;
  font-stretch: 100%;
  font-weight: 400;
  color: rgb(105, 105, 105);
}

.smallBtn:hover {
  background: white;
  color: black;
}


/* Footer Text */
.footerText {
  position: absolute;
  bottom: 10px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  justify-self: center;
  width: 100%;
}


.LoadMoreBtn {
  height: 50px;
  width: 160px;
  border-radius: 25px;
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.LoadMoreBtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #56cfe1;
  transition: left 0.3s ease-in-out;
  border-radius: 20px;
  z-index: -1;
}

.LoadMoreBtn:hover::before {
  left: 0;
}

.LoadMoreBtn:hover {
  color: white;
  border-color: #56cfe1;
  z-index: 3;
}

.LoadMoreBtn:hover span {
  position: relative;
  color: white;
  border-color: #56cfe1;
  z-index: 3;
}
