.checkoutContainer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.detailsSection {
    flex: 2;
    margin-right: 20px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.row {
    display: flex;
    gap: 10px;
    width: 100%;
}

.summarySection {
    flex: 1;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
}

.coupons{
    margin-bottom: 20px;
}

.orderSummary {
    
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    background: white;
    font-family: Arial, sans-serif;
  }

  .divider {
    border: none;
    border-top: 1px solid #ddd;
    margin: 10px 0;
  }

  .row {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: 5px 0;
  }

.continueButton {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.continueButton:hover {
    background-color: #333;
}


.applyButton {
    background-color: #000;
    color: #fff;
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.applyButton:hover {
    background-color: #333;
}


