/* Section main content */
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: auto;
}

/* Cards content */
.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 1160px;
  margin: auto;
}

.leftImageWrapper {
  position: relative;
  height: 300px;
  width: 550px;
  overflow: hidden;
  z-index: 1;
}

.leftImageWrapper h3 {
  font-size: 24px;
  font-weight: 500;
}

.leftImageWrapper p {
  font-size: 14px;
  font-weight: 600;
}

.rightImageWrapper {
  position: relative;
  height: 300px;
  width: 550px;
  overflow: hidden;
  z-index: 1;
}

.rightImageWrapper p {
  font-size: 18px;
  font-weight: 500;
}

.rightImageWrapper h2 {
  font-size: 55px;
  font-weight: 600;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
  width: 550px;
  background: rgba(0, 0, 0, 0.1 );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
  color: white;
  text-align: center;
}

.twoOverlay h3, .twoOverlay p, .twoOverlay h2 {
  margin: 5px 0; /* Add some spacing around the text */
  padding: 0 10px; /* Add some padding to the text */
}

.imageLeft {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 1;
  z-index: 1;
  transition: transform 1s;
  transform-origin: center;
  transform: scale(1);
}

.imageRight {
  width: 120%;
  height: 120%;
  position: absolute;
  opacity: 1;
  z-index: 1;
  transition: transform 1s;
}

.leftImageWrapper:hover .imageLeft{
  transform: scale(1.5) rotate(10deg);
}

.rightImageWrapper:hover .imageRight{
  transform: translateY(-50px);
}