/* ProductTabs.module.css */
.container {
  max-width: 900px;
  margin: auto;
  padding: 30px;
}

.tabs {
  display: flex;
  gap: 30px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
}

.tab {
  font-size: 18px;
  font-weight: 500;
  color: #777;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 20px;
  transition: color 0.3s ease-in-out;
}

.activeTab {
  color: black;
  font-weight: bold;
  background: white;
  border: 2px solid black;
}

.content {
  margin-top: 20px;
}

.heading {
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  color: #000;
}

.text {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
}

.italic {
  font-style: italic;
  color: #666;
  font-size: 16px;
}

/* Table Styling */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 10px 15px;
  text-align: left;
}

.table th {
  background-color: #f8f8f8;
  font-weight: bold;
  color: #555;
}

/* Custom Tab Styling */
.customTabContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.iconContainer {
  display: flex;
  gap: 15px;
  font-size: 24px; /* Adjust icon size */
}

.fabricInfo {
  margin-top: 10px;
  font-size: 14px;
  color: #777;
}

.fabricInfo span {
  color: #555;
  font-weight: bold;
}
