.navbar {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu li {
  position: relative;
}


  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .menu {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .menu li {
    position: relative;
  }
  
  .menu li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .menu li a:hover,
  .menu li a:focus {
    color: #00bcd4;
  }
  
  .newBadge, .saleBadge {
    position: absolute;
    top: -8px;
    right: -15px;
    background-color: #00bcd4;
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 10px;
  }
  
  .saleBadge {
    background-color: #ff9800;
  }
  
  .icons {
    display: flex;
    gap: 15px;
  }
  
  .icon {
    position: relative;
    font-size: 30px;
  }
  
  .iconHover:hover {
    color: #00bcd4;
  }
  
  
  .heartContainer {
    position: relative;
    display: inline-block;
  }
  
  .heartBadge {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: black;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }
  
  
  .cartContainer {
    position: relative;
    cursor: pointer;
  }
  
  .cartBadge {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color:black;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }
  
  
  
  
  
  
  
  
  
  .categorySelect {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  
  .searchInputWrapper {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px; 
    overflow: hidden;
  }
  
  
  
  .SearchHeader{
    padding:5px 0 5px 20px;
    display: flex;
  }

  .SearchHeader span{
    font-weight: 500;
    flex:1 1 auto;
    font-size: 16px;
    color:var(--t4s-dark-color);
    text-transform: uppercase;
    font-family: Poppins;
    line-height: 27.2px;
   
  }

  .SearchcloseIcon {
    cursor: pointer;
    color: black;
    transition: color 0.2s ease-in-out;
    width: 50px;
    transition: transform 0.3s ease-in-out;
  }
  
  .SearchcloseIcon:hover {
    transform: rotate(180deg);
  }
  
  .Search {
    padding:30px 10px;
    position: relative;
    width: 100%;
    max-width: 300px; /* Adjust width as needed */
    border-bottom: 1px solid rgba(var(--border-color-rgb), .8);;
  }
  
  .SearchInput {
    width: 100%;
    padding: 0 50px 0 20px; 
    line-height: 18px;;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    outline: none;
    background-color: white;
    height: 40px;
    font-size: 13px;
    font-family: Poppins;
  }

  .SearchIcon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    font-size: 15px;
    pointer-events: none;
    width: 50px;
    background-color: transparent;
  }
  .MiniSearch {
  font-size: 12px;
  margin-top: 10px;
  display:flex;
 
}

.minisearchTitle{
  font-weight: 600;
}
  
.Searchkey{
  padding: 0;
  margin: 0;
  display: flex;
  gap:10px;
  list-style: none;
}

.Searchkey .Searchlist a{
  font-weight: 400;
  color:var(--text-color);
}

.Searchlist{
  display: inline-block;
}
  
  
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .title {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 16px;
    font-weight: 500;
    font-weight: bold;
    text-transform: uppercase;
    height:28px;
    width: 270px;
    font-family:Poppins;
    line-height: 27.2px;
    text-transform: uppercase;
    vertical-align: baseline;
    color:rgb(34, 34, 34)
  }
  /*
  .closeButton {
    padding: 0;
    background-color: transparent;
    color:var(--t4s-dark-color);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family-1);
  }
    */
    .searchInputContainer {
      display: flex;
      align-items: center;
      border-radius: 9px; 
      overflow: hidden; 
      border: 1px solid #ccc; 
      margin-top: 20px;
      padding:0 50px 0 20px;
      line-height: 18px;
      height: 40px;
      font-size: 13px;
      max-width: 100%;
      width: 100%;
      border-bottom: 1px solid rgba(var(--border-color-rgb),.8);
  }

   .searchInput {
   padding: 0 50px 0 20px;
}

    

.quickSearch {
  font-size: 12px;
  color: #777;
}

.quickSearch span {
  font-weight: bold;
  color: #555;
}

.cartPopup {
  position: fixed;
  top: 0;
  right: -350px; /* Initially hidden */
  width: 300px;
  height: 100vh;
  background: white;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.menu li a {
  text-decoration: none;
  color: #222222;
  font-size: 14px;
  font-weight: 400;
  transition: color 0.3s ease;
}

.menu li a:hover,
.menu li a:focus {
  color: #00bcd4;
}

.newBadge,
.saleBadge {
  position: absolute;
  top: -15px;
  right: -20px;
  background-color: #00bcd4;
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 10px;
}

.saleBadge {
  background-color: #ff9800;
}

.icons {
  display: flex;
  gap: 15px;
}

.icon {
  position: relative;
  font-size: 30px;
}

.iconHover:hover {
  color: #00bcd4;
}

.heartContainer {
  position: relative;
  display: inline-block;
}

.heartBadge {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.cartContainer {
  position: relative;
  cursor: pointer;
}

.cartBadge {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.cartPopup {
  position: fixed;
  top: 0;
  right: -350px; /* Initially hidden */
  width: 340px;
  height: 100vh;
  background: white;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.cartPopup.open {
  right: 0; /* Slide-in effect */
}

.cartHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.cartHeader h3 {
  color: black;
  box-sizing: border-box;
  display: block;
  flex-basis: auto;
  flex-grow: 1;
  font-family: Poppins;
  font-kerning: auto;
  font-size: 16px;
  font-stretch: 100%;
  font-weight: 500;
  line-height: 27.2px;
  text-transform: uppercase;
  visibility: visible;
}

.cartContent p {
  box-sizing: border-box;
  display: block;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 500;
  color: rgb(135, 135, 135);
}

.cartContent span {
  color: rgb(235, 0, 27);
  border-bottom-color: rgb(235, 0, 27);
}

.progressContainer {
  position: relative;
  width: 100%;
  height: 8px;
  margin-bottom: 10px;
  margin-top: 13px;
  display: flex;
  align-items: center;
}
.card {
  box-sizing: border-box;
  display: block;
  padding-bottom: 4px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  visibility: visible;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  .truckIcon {
    background: #f9f9f9;
    color: red;
    font-size: 20px;
    margin-right: 6px;
    position: absolute;
    transform: translateY(-50%);
    left: 0px;
  }

  .progressBar {
    width: 100%;
    height: 6px;
    background: #eee;
    border-radius: 3px;
  }
  .progressBar {
    width: 100%;
    height: 5px;
    background: #eee;
    border-radius: 5px;
    margin: 10px 0;
    position: relative;
  }


.progress {
  width: 50%;
  height: 100%;
  background: red;
  border-radius: 5px;
  transition: width 0.3s ease-in-out;
}

.emptyCartContainer {
  text-align: center;
  padding: 40px 20px;
}

.shippingContainer {
  text-align: left;
  font-size: 14px;
  color: #666;
  margin-bottom: 16px;
}

.shippingText {
  margin-bottom: 5px;
}
.cartIcon {
  font-size: 60px;
  color: #bdbdbd;
  margin-bottom: 10px;
}
.emptyText {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 23.8px;
  text-align: center;
  color: rgb(135, 135, 135);
  border-bottom-color: rgb(135, 135, 135);
}
.returnButton {
  margin-top: 20px;
  max-width: 100%;
  min-width: 130px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  min-height: 40px;
  padding: 5px 25px;
  padding-right: 25px;
  font-family: Poppins;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(86, 207, 225);
  border: 2px solid rgb(86, 207, 225);
  border-radius: 20px;
}
.returnButton:hover {
  background: rgb(67, 186, 204);
  border: 2px solid rgb(67, 186, 204);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
}

/* login*/
.loginHeader{
  padding: 5px 0 5px 20px;
  border-bottom: solid 1px var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  border-bottom: 1px solid rgba(129, 129, 129, .2);;
}

.loginTitle{
 display: block;
 font-weight: 500;
 line-height: 1.428;
 font-size: 16px;
 color:var(--t4s-dark-color);
 text-transform: uppercase;
}

.loginForm{
  display: flex;
  flex:1 1 auto;
}
.inputContainer{
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.inputEmail {
 
  width:100%;
  padding: 14px 12px;
  border-radius: 0;
  border:1px solid navy;
  line-height: normal;
  outline: none;
  background: transparent;
}

.inputLabel {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #888;
  transition: 0.3s ease all;
  pointer-events: none;
 
}

.inputEmail:focus + .inputLabel,
.inputEmail:not(:placeholder-shown) + .inputLabel {
  top: 5px;
  left: 12px;
  font-size: 12px;
  color: black;
  background: white;
  padding: 0 4px;
}

.required{
  
  color:red;
  font-size: 16px;
  margin-left: 3px;
}

.forgotPassword{
  text-decoration: underline;
  margin-bottom: 30px;
}

.signInButton{
  margin-bottom: 20px;
  text-align: left;
}

.button {
  margin-top: 30px;
  width: 100%;
  padding: 12px 16px;
  background-color: #44c8f5; /* Light blue color */
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 20px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.button:hover {
  background-color: #1fa8d6; /* Darker blue on hover */
}

.customer{
  margin-top: 20px;
  text-decoration: underline;
}

.logincloseIcon{
  width: 100px;
 height: 50px;
 display: flex;
 justify-content: center;
}

.loginSidebar{
  padding:20px;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 14px;
  font-weight: 400;
  color:var(--text-color);
  display: block;

}


.closeIcon {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.closeIcon:hover {
  transform: rotate(180deg);
}


.container h2 {
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.suggestions {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
}

.viewAll {
  background: none;
  border: none;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.select {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 20px;
  margin-top: 22px;
  background-color: #fff;
  outline: none;
  cursor: pointer;
}

.select:focus {
  border-color: #000;
}

.searchBox {
  width: 100%;
  padding: 5px 8px;
  font-size: 12px;
  border: 1px solid #ddd;
  border-radius: 15px;
  margin-top: 22px;
  background-color: #fff;
  outline: none;
  cursor: pointer;
  height: 35px;
}

.searchInput {
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
  background: transparent;
  padding: 10px;
}

.quickSearch {
  margin-top: 10px;
  font-size: 13px;
}

.quickSearch span {
  color: lightgrey;
  cursor: pointer;
}
