.navbar {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu li {
  position: relative;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.productList {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;
  overflow: hidden;
}

.scrollContainer {
  max-height: 550px;
  overflow-y: auto;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #ccc transparent; /* Firefox */
}

.scrollContainer::-webkit-scrollbar {
  width: 6px;
}

.scrollContainer::-webkit-scrollbar-track {
  background: transparent;
}

.scrollContainer::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 3px;
}

.productItem {
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.productItem:last-child {
  border-bottom: none;
}

.productImage {
  width: 80px;
  height: 100px;
  margin-right: 12px;
}

.productInfo {
  padding: 15px;
  flex: 1;
}

.productName {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.productPrice {
  font-size: 12px;
  color: #666;
}

.searchlistContainer {
  margin-top: 30px;
  width: 280px;
  display: flex;
}

.Searchlist a {
  font-size: 12px;
  font-weight: 400;
  color: rgb(135, 135, 135);
}

.Searchlist a:hover {
  color: rgb(86, 207, 225);
  cursor: pointer;
}

.Searchlist {
  font-size: 12px;
  font-weight: 400;
  max-width: 150px;
  color: rgb(135, 135, 135);
  display: inline-block;
  padding: 0;
  margin-left: 5px;
  display: flex;
  gap: 10px;
  list-style: none;
}

.Searchlist li:hover {
  color: rgb(86, 207, 225);
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 16px;
  font-weight: 500;
  font-weight: bold;
  text-transform: uppercase;
  height: 28px;
  width: 270px;
  font-family: Poppins;
  line-height: 27.2px;
  text-transform: uppercase;
  vertical-align: baseline;
  color: rgb(34, 34, 34);
}

.searchInputContainer {
  display: flex;
  align-items: center;
  border-radius: 9px;
  overflow: hidden;
  border: 1px solid #ccc;
  margin-top: 20px;
  padding: 0 50px 0 20px;
  line-height: 18px;
  height: 40px;
  font-size: 13px;
  max-width: 100%;
  width: 100%;
  border-bottom: 1px solid rgba(var(--border-color-rgb), 0.8);
}

.searchInput {
  padding: 0 50px 0 20px;
}

.quickSearch {
  font-size: 12px;
  font-weight: 400;
  color: rgb(34, 34, 34);
}

.quickSearch span {
  font-size: 12px;
  font-weight: 400;
  color: rgb(135, 135, 135);
}

.cartPopup {
  position: fixed;
  top: 0;
  right: -350px;
  width: 300px;
  height: 100vh;
  background: white;
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.menu li a {
  text-decoration: none;
  color: #222222;
  font-size: 14px;
  font-weight: 400;
  transition: color 0.3s ease;
}

.menu li a:hover,
.menu li a:focus {
  color: #00bcd4;
}

.newBadge,
.saleBadge {
  position: absolute;
  top: -15px;
  right: -20px;
  background-color: #00bcd4;
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 10px;
}

.saleBadge {
  background-color: #ff9800;
}

.icons {
  display: flex;
  gap: 15px;
}

.icon {
  position: relative;
  font-size: 30px;
}

.iconHover:hover {
  color: #00bcd4;
}

.heartContainer {
  position: relative;
  display: inline-block;
}

.heartBadge {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.cartContainer {
  position: relative;
  cursor: pointer;
}

.cartBadge {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.cartPopup {
  position: fixed;
  top: 0;
  right: -350px; /* Initially hidden */
  width: 340px;
  height: 100vh;
  background: white;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.cartPopup.open {
  right: 0; /* Slide-in effect */
}

.cartContent p {
  box-sizing: border-box;
  display: block;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 500;
  color: rgb(135, 135, 135);
}

.cartContent span {
  color: rgb(235, 0, 27);
  border-bottom-color: rgb(235, 0, 27);
}

.progressContainer {
  position: relative;
  width: 100%;
  height: 8px;
  margin-bottom: 10px;
  margin-top: 13px;
  display: flex;
  align-items: center;
}
.unlockCard {
  box-sizing: border-box;
  display: block;
  padding-bottom: 4px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  visibility: visible;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.truckIcon {
  background: #f9f9f9;
  color: red;
  font-size: 20px;
  margin-right: 6px;
  position: absolute;
  transform: translateY(-50%);
  left: 0px;
}

.progressBar {
  width: 100%;
  height: 6px;
  background: #eee;
  border-radius: 3px;
}
.progressBar {
  width: 100%;
  height: 5px;
  background: #eee;
  border-radius: 5px;
  margin: 10px 0;
  position: relative;
}

.progress {
  width: 50%;
  height: 100%;
  background: red;
  border-radius: 5px;
  transition: width 0.3s ease-in-out;
}

.emptyCartContainer {
  text-align: center;
  padding: 40px 20px;
}

.shippingContainer {
  text-align: left;
  font-size: 14px;
  color: #666;
  margin-bottom: 16px;
}

.cartBadgeContainer {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scroll-snap-type: smooth;
  padding-bottom: 300px;
}

.cartItem {
  width: 100%;
  height: 200px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #eee;
}

.cartItem img {
  width: 120px;
  height: 150px;
  margin-right: 20px;
  object-fit: cover;
  background-color: #ddd;
}

.cartText h5 {
  font-size: 14px;
  font-weight: 500;
  color: rgb(34, 34, 34);
}

.cartText p {
  font-size: 14px;
  font-weight: 500;
  color: rgb(105, 105, 105);
}

.quantityBtn {
  width: 120px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  border: 1px solid rgb(34, 34, 34);
  border-radius: 20px;
  background-color: white;
  margin: 15px 0px;
}

.quantityBtn button {
  font-size: 20px;
  font-weight: 500;
  color: rgb(34, 34, 34);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.editDeleteBtn {
  font-size: 18px;
  padding-right: 10px;
  color: rgb(34, 34, 34);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.cartXtraBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 80px;
  align-items: center;
  margin-top: 10px;
  background-color: rgb(245, 245, 245);
}

.cartXtraBtns button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 25px;
  background: rgb(245, 245, 245);
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
  font-size: 24px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.cartXtraBtns button:active {
  border-radius: 150px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
}

.carouselContainer {
  min-height: 500px;
  max-height: 500px;
  width: 340px;
  overflow: hidden;
}

.cardWrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.card {
  width: 300px;
  height: 160px;
  background: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  margin-left: 20px;
}

.dotsContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
  background-color: #bbb;
  cursor: pointer;
}

.activeDot {
  background-color: #333;
}

.leftButton,
.rightButton {
  position: relative;
  top: 50%;
  font-size: 20px;
  cursor: pointer;
  background: none;
  border: none;
}

.leftButton {
  left: -30px;
}

.rightButton {
  right: -30px;
}

.shopFooter {
  position: absolute;
  bottom: 0px;
  height: auto;
  width: auto;
  text-align: left;
  padding: 20px;
  background-color: white;
  background: white;
  border-top: 1px solid rgb(200, 200, 200);
  text-align: center;
  font-weight: bold;
}

.shopFooter p {
  color: rgb(135, 135, 135);
  font-size: 13px;
  font-weight: 400px;
  margin-bottom: 5px;
}

.shopFooter label {
  color: rgb(135, 135, 135);
  font-size: 13px;
  font-weight: 400px;
  margin-bottom: 5px;
}

.shopFooter img {
  height: 40px;
  width: 300px;
}

.subTotal {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.shippingText {
  margin-bottom: 5px;
}
.cartIcon {
  font-size: 60px;
  color: #bdbdbd;
  margin-bottom: 10px;
}
.emptyText {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 23.8px;
  text-align: center;
  color: rgb(135, 135, 135);
  border-bottom-color: rgb(135, 135, 135);
}
.returnButton {
  margin-top: 20px;
  max-width: 100%;
  min-width: 130px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  min-height: 40px;
  padding: 5px 25px;
  padding-right: 25px;
  font-family: Poppins;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(86, 207, 225);
  border: 2px solid rgb(86, 207, 225);
  border-radius: 20px;
}
.returnButton:hover {
  background: rgb(67, 186, 204);
  border: 2px solid rgb(67, 186, 204);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
}

/* login*/
.theHeader {
  padding: 5px 20px;
  border-bottom: solid 1px var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  border-bottom: 1px solid rgba(129, 129, 129, 0.2);
}

.theTitle {
  display: block;
  font-weight: 500;
  line-height: 1.428;
  font-size: 16px;
  color: var(--t4s-dark-color);
  text-transform: uppercase;
}

.loginForm {
  width: 100%;
  display: flex;
}

.sidebarContainer {
  width: 100%;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 14px;
  font-weight: 400;
  color: var(--text-color);
}

.searchContainer {
  width: 100%;
  padding: 20px;
  font-size: 14px;
  font-weight: 400;
  color: var(--text-color);
}

.inputContainer {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid rgb(135, 135, 135);
}

.label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #777;
  transition: all 0.3s ease-in-out;
  background: white;
  padding: 0 5px;
  user-select: none;
  pointer-events: none;
}

.mandatory {
  color: red;
  font-weight: bold;
}

.input {
  max-height: 46px;
  min-height: 46px;
  width: 100%;
  padding: 8px;
  font-size: 13px;
  color: rgb(135, 135, 135);
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.input:focus .inputContainer{
  border-color: black;
}

.shrink {
  top: 10px;
  left: 10px;
  font-size: 12px;
  color: #aaaaaa;
  background-color: transparent;
}

.forgotPassword {
  text-decoration: underline;
  margin-bottom: 30px;
  color: rgb(135, 135, 135);
}

.signIn {
  margin-bottom: 20px;
  text-align: left;
}

.signInButton {
  height: 35px;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(86, 207, 225);
  color: white;
  font-size: 14px;
  font-weight: 400;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.button:hover {
  background-color: #1fa8d6; /* Darker blue on hover */
}

.customer {
  margin-top: 20px;
  text-decoration: underline;
  color: rgb(135, 135, 135);
}

.logincloseIcon {
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
}

.closeIcon {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.closeIcon:hover {
  transform: rotate(180deg);
}

.container h2 {
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.suggestions {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.inspiration {
  height: 45px;
  width: 100%;
  padding: 10px;
  border-top: 1px solid rgb(200, 200, 200);
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
  z-index: 3;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
}

.viewAll {
  position: absolute;
  bottom: 0px;
  height: 50px;
  width: 100%;
  text-align: left;
  padding-top: 12px;
  background-color: white;
  background: white;
  border-top: 1px solid rgb(200, 200, 200);
  text-align: center;
  font-weight: bold;
}

.viewAll a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.viewAll a:hover {
  color: rgb(67, 186, 204);
  text-decoration: none;
}

.select {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 20px;
  margin-top: 22px;
  background-color: #fff;
  outline: none;
  cursor: pointer;
}

.select:focus {
  border-color: #000;
}

.search {
  display: flex;
  align-items: center;
  height: 40px;
  max-width: 300px;
  position: relative;
}

.searchBar {
  height: 40px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px 40px 10px 20px;
  font-size: 14px;
  background: transparent;
  outline: none;
}

.searchButton {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
}

.searchIcon {
  font-size: 20px;
  color: #333;
}
  .createAccount:hover{
    color: #00bcd4;
  }

  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .container {
    background-color: white;
    width: 350px;
    padding: 20px;
    box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.2);
    height: 100vh;
    overflow-y: auto;
  }


  .overlay.open {
    right: 0; /* Slide in */
  }
  
  .closeButton {
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .SearchHeading{
    font-size: 14px; 
   margin-bottom: 30px;
  }
  .line {
    width: 100%;
    height: 2px;
    background-color: #ccc; 
    margin-top: 10px;
  
    left: 0;
}
  
  
  .select {
    margin-top: 40px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    border-color: #ccc;
  }

  
  
  .searchBox {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 8px;
    margin-bottom: 10px;
    border-radius: 20px;
  }
  
  .input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
  }
  
  .quickSearch {
    font-size: 14px;
    margin-bottom: 15px;
  }
  
  .suggestions {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .item {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .image {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }

  


