.emptyWishlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    color: #333;
   
  }
  
  .emptyIcon {
    width: 100px;
    height: 150px;
    color: #d3d3d3;
    margin-bottom: 0;
    gap:20px;
  }

  .title {  
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px; /* This adds space after "Wishlist is empty." */
}
  
  
  
  .description {  /* Add a local class for p */
    font-size: 14px;
    color: #777;
    margin-top: 5px;
  }
  
  .shopLink {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .shopLink:hover {
    text-decoration: underline;
  }
  