/* FollowUs.module.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 100px auto;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 40px auto;
}

.title {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #222222;
  text-transform: uppercase;
}

.title h2 {
  font-size: 24px;
  font-weight: 600;
}

.titleContainer p {
  color: rgb(135, 135, 135);
  font-family: "Libre Baskerville";
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
}

.line {
  width: 40px;
  height: 2px;
  background-color: black;
}

/* Image Cards */

.scrollWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  position: relative;
}

.blogContainer {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin: 0;
  z-index: 1;
}

.imageContainer {
  width: 240px; 
  height: 240px;
  overflow: hidden;
  flex-shrink: 0;
}

.blogCard {
  width: 240px;
  height: 240px;
  overflow: hidden;
  flex-shrink: 0;
}

.blogCard {
  background: #fff;
  text-align: left;
  position: relative;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer img {
  height: 240px;
  width: 240px;
  object-fit: cover;
  transition: transform 1s ease;
  z-index: 1;
}

.blogCard:hover .imageContainer img {
  transform: scale(1.1);
}

.scrollButton {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background: none;
  border: 2px solid rgba( 0, 0, 0, 0.5);
  color: rgb(30, 30, 30);
  border-radius: 20px;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  z-index: 3;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.scrollButton:hover {
  background: rgba( 0, 0, 0, 0.5);
  color: white;
  border: none;
}

.scrollButton:first-child{
  left: 5px;
}

.scrollButton:last-child{
  right: 5px;
}



.connect {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 40px auto;
}

.textCard{
  height: 80px;
  width: 270px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 0;
  padding: 0 15px;
}


.textArea{
  height: 80px;
  width: auto;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 0;
  flex-direction: column;
  padding: 0 15px;
}



.textArea h3{
  color: rgb(34, 34, 34);
  font-size: 16px;
  font-weight: 500;
}

.textArea p{
  color: rgb(135, 135, 135);
  font-size: 13px;
  font-weight: 400;
}
